@charset 'utf-8';

$palette: (
  beauty-bush:    #F0C9CA,
  cararra:        #E9E7E0,
  cardinal:       #B91E25,
  fantasy:        #FBF3F4,
  friar-gray:     #7C7C7A,
  go-ben:         #766F54,
  scorpion:       #5A5A5A,
  tundora:        #444,
  vanilla-ice:    #F1CFD1,
  zeus:           #2C291F
);
