@charset 'utf-8';

$palette: (
  cararra:        #E9E7E0,
  cardinal:       #B91E25,
  friar-gray:     #7C7C7A,
  go-ben:         #766F54,
  scorpion:       #5A5A5A,
  tundora:        #444,
  vanilla-ice:    #F1CFD1,
  zeus:           #2C291F
);
